body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #000;
}

div, p, form, input, a, span, button, h1, h2, h3, h4, h5, h6, section {
	box-sizing: border-box;
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

a, a:hover, a:active {
	text-decoration: none;
}

a {
	letter-spacing: 0em;
}

a, button, input, div, img {
	transition: all 0.3s ease-in-out;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

span.red {
	color: #8a0028;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.header_top {
	background: #eeeeee;
	padding: 10px 0;
}

.header_top_wr {
	display: flex;
	justify-content: space-between;
}

.header_top_text {
	font-size: 12px;
}

.header_top_text strong {
	text-transform: uppercase;
}

.header_top_wr_right a {
	font-size: 10px;
	text-transform: uppercase;
	color: #000;
}

.header_top_wr_right a+a {
	margin-left: 15px;
}

.header_top2 {
	padding: 17px 0;
}

.header_top2_wr {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_top2_address p {
	font-size: 14px;
	display: flex;
	align-items: center;
}

.header_top2_address p img {
	margin-right: 10px;
}

.header_top2_right {
	display: flex;
}

.header_top2_tel {
	margin-right: 30px;
	display: flex;
	align-items: center;
}

.header_top2_tel img {
	margin-right: 15px;
}

.header_top2_tel a {
	font-size: 16px;
	color: #000;
}

.header_top2_btn {
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 190px;
	height: 46px;
	border: 2px solid #cea809;
	font-weight: 600;
	font-size: 14px;
	color: #000;
}

.header_top2_btn:hover {
	background: #cea809;
	color: #fff;
}

.header_top_nav {
	background: #8b0029;
}

.header_top_nav_wr {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_top_nav_wr nav {
	width: 100%;
}

.header_top_nav_wr nav ul {
	display: flex;
	justify-content: space-between;
}

.header_top_nav_wr nav ul li a {
	font-size: 15px;
	color: #fff;
}

.header_top_nav_wr nav ul li a:hover {
	color: #cea809;
}

.header_top_logo {
	margin: -13px 20px;
}

.header_offer {
	background: url(../img/header_bg.jpg) no-repeat center top / cover;
	padding-top: 150px;
}

.header_offer_title {
	display: block;
	width: 585px;
	margin: 0 auto;
	font-size: 48px;
	font-family: 'Yeseva One', cursive;
	color: #fff;
	font-weight: normal;
	text-align: center;
}

.header_offer_btns {
	margin: 0 auto;
	margin-top: 75px;
	width: 510px;
	display: flex;
	justify-content: space-between;
}

.header_offer_btns a {
	width: 240px;
	height: 60px;
	border: 2px solid #fff;
	border-radius: 6px;
	background: #cea809;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_offer_btns a:hover {
	background: #fff;
	color: #cea809;
}

.header_offer_certificate {
	margin-left: 25px;
	margin-top: -40px;
}

.special {
	padding-bottom: 70px;
}

.section_title {
	font-family: 'Yeseva One', cursive;
	font-size: 36px;
	color: #373737;
	text-align: center;
	position: relative;
	font-weight: normal;
}

.section_title::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -23px;
	width: 46px;
	height: 6px;
	background: url(../img/wave_icon.png) no-repeat center top / cover;
}

.section_subtitle {
	margin-top: 45px;
	font-size: 20px;
	color: #787878;
	text-align: center;
}

.special_content {
	margin-top: 100px;
}

.special_content p {
	text-align: center;
	color: #787878;
	font-size: 24px;
	margin-bottom: 45px;
}

.special_content p strong {
	color: #373737;
	font-size: 34px;
}

.special_content p strike {
	font-size: 34px;
}

.special_content span.red {
	font-weight: 900;
	font-size: 34px;
}

.special_content a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 60px;
	margin: 0 auto;
	background: #cea809;
	border: 2px solid #cea809;
	border-radius: 6px;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
}

.special_content a:hover {
	background: transparent;
	color: #cea809;
}

.advantages {
	background: #f7f7f7;
	padding-top: 90px;
	margin-bottom: -20px;
}

.advantages_wr {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.advantages_wr_item {
	width: 360px;
	min-height: 236px;
	background: #fff;
	border-radius: 6px;
	border-bottom: 4px solid #cea809;
	text-align: center;
	margin: 0 15px;
	margin-bottom: 70px;
}

.advantages_wr_item img {
	margin-top: -40px;
	margin-bottom: 17px;
}

.advantages_wr_item h3 {
	font-size: 24px;
	color: #373737;
	text-transform: uppercase;
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
	min-height: 55px;
	margin-bottom: 5px;
}

.advantages_wr_item p {
	position: relative;
	font-size: 18px;
	color: #787878;
}

.advantages_wr_item p::after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -23px;
	width: 46px;
	height: 6px;
	background: url(../img/wave_icon.png) no-repeat center top / cover;
}

.invest {
	background: url(../img/invest.png) no-repeat center top / cover;
	padding-top: 70px;
	padding-bottom: 65px;
	background-color: #f7f7f7;
}

.invest_title {
	text-align: center;
	font-size: 34px;
	line-height: 48px;
	color: #373737;
	margin-bottom: 45px;
}

.invest_btn {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 60px;
    margin: 0 auto;
    background: #cea809;
    border: 2px solid #cea809;
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.invest_btn:hover {
    background: transparent;
    color: #cea809;
}

.invest_gen {
	width: 640px;
	margin: 0 auto;
	margin-top: 435px;
	border: 4px solid #cea809;
	border-radius: 12px;
	background: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 48px;
	margin-bottom: 230px;
}

.invest_gen ul {
	margin-top: 40px;
}

.invest_gen ul li {
	font-size: 18px;
	color: #787878;
	font-weight: 600;
	margin-bottom: 12px;
}

.invest_gen ul li span {
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
	color: #383838;
}

.infrastucture {
	background: #f7f7f7;
	padding-top: 40px;
}

.infrastucture_btn {
	margin-bottom: 80px;
}

.infrastucture_table {
	width: 940px;
	margin: 0 auto;
	background: #fff;
	border-radius: 12px;
	overflow: hidden;
    border-spacing: 0;
	margin-top: 44px;
}

.infrastucture_table tr {
	display: flex;
	padding: 0 30px;
}

.infrastucture_table tr:first-child {
	padding: 0;
}

.infrastucture_table tr th {
	background: #8a0028;
	display: block;
	width: 25%;
	padding: 20px 0;
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	padding-right: 30px;
}

.infrastucture_table tr th:first-child {
	width: 50%;
}

.infrastucture_table tr td {
	width: 25%;
	padding: 15px 30px 15px 0;
	border-bottom: 1px solid #dedede;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	color: #383838;
}

.infrastucture_table tr:last-child td {
	border-bottom: none;
}

.infrastucture_table tr td:first-child {
	width: 50%;
	font-size: 18px;
	color: #383838;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	padding-right: 0;
}

.infrastucture_table tr td:last-child {
	padding-right: 0;
}

.doma {
	background: url(../img/wave_top.png) no-repeat center -215px / cover;
    padding-top: 250px;

}

.doma_wr {
	margin-top: 55px;
	padding-bottom: 80px;
	border-bottom: 3px solid #dedede;
}

.doma_wr_item {
	width: 960px;
	margin: 0 auto;
}

.doma_wr_item_top {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}

.doma_wr_item_top_text {
	position: absolute;
	bottom: 0px;
	padding: 0 40px 40px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.doma_wr_item_top_text h3 {
	font-size: 36px;
	color: #ffffff;
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
}

.doma_wr_item_top_sq {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 23px;
	border: 2px solid #cea809;
	border-radius: 6px;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
}

.doma_wr_item_content {
	display: flex;
	align-items: center;
	padding: 0 30px;
	margin-top: 30px;
	margin-bottom: 70px;
}

.doma_wr_item_cost {
	font-size: 36px;
	color: #383838;
	font-family: 'Yeseva One', cursive;
}

.doma_wr_item_wave {
	margin: 0 20px;
}

.doma_wr_item_text {
	width: 582px;
	font-size: 24px;
	color: #787878;
}

.steps {
	padding-top: 80px;
}

.steps_wr {
	margin-top: 35px;
	margin-bottom: -105px;
}

.steps_wr_nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.steps_wr_nav_item {
	width: 378px;
	border-bottom: 3px solid #dedede;
	text-align: center;
	font-size: 18px;
	line-height: 49px;
	color: #383838;
	font-weight: 700;
}

.steps_wr_nav_item.active {
	border-bottom: 3px solid #cea809;
}

.steps_wr_form_item {
	display: none;
}

.steps_wr_form_item.active {
	display: block;
}

.steps_wr_form_item h3 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 90px;
}

.steps_wr_form_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.steps_wr_form_content div {
	cursor: pointer;
	text-align: center;
	color: #383838;
	font-size: 18px;
	font-weight: 700;
}

.steps_wr_form_content div img {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid transparent;
}

.steps_wr_form_content .dot {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 2px solid #eeeeee;
	background: #fff;
	margin: 0 auto;
	margin-top: -13px;
	position: relative;
	margin-bottom: 10px;
}

.steps_wr_form_content .dot::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 50%;
	background: transparent;
}

.steps_wr_form_content1 input[type=radio] {
	display: none;
}

.steps_wr_form_content1 input[type=radio]:checked +label div .dot{
	border: 2px solid #cea809;
}

.steps_wr_form_content1 input[type=radio]:checked +label div .dot::after{
	background: #8b0029;
}

.steps_wr_form_content1 input[type=radio]:checked +label img {
	border: 2px solid #cea809;
}

.steps_wr_form_content2 {
	width: 750px;
	margin: 0 auto;
	display: block;
	margin-bottom: 55px;
}

.steps_wr_form_content2 input[type=radio] {
	display: none;
}

.steps_wr_form_content2 label {
	width: 100%;
	display: flex;
	align-items: center;
	height: 74px;
	background: #f7f7f7;
	border-radius: 4px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	color: #383838;
	margin-bottom: 8px;
}

.steps_wr_form_content2 .dot {
	margin: 0;
	margin-left: 30px;
    margin-right: 13px;
}

.steps_wr_form_content2 input[type=radio]:checked + label {
	border-bottom: 4px solid #cea809;
}

.steps_wr_form_content2 input[type=radio]:checked + label .dot{
	border: 2px solid #cea809;
}

.steps_wr_form_content2 input[type=radio]:checked + label .dot::after{
	background: #8b0029;
}

.steps_wr_form_content3 textarea {
	padding: 10px 30px;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
	color: #999999;
}

.steps_wr_form_content3 textarea:focus {
	outline: none;
}

.steps_wr_form_content4 {
	display: flex;
}

.steps_wr_form_left {
	width: 558px;
}

.steps_wr_form_left img {
	width: 100% !important;
    height: auto !important;
    border: none !important;
    border-radius: 0 !important;
}

.steps_wr_form_right {
	width: 558px;
	margin-left: auto;
	padding-top: 130px;
}

.steps_wr_form_right input[type=text] {
	position: relative;
	border: none;
	border-bottom: 1px solid #cea809;
	background: transparent;
	height: 60px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #999999;
	padding-left: 24px;
	width: 100%;
}

.steps_wr_form_right input[type=text]:focus {
	border-bottom: 4px solid #cea809;
}

.steps_wr_form_right>p {
	position: relative;
}

.steps_wr_form_right>a.terms {
	display: flex;
    align-items: center;
    padding-left: 0;
	font-size: 12px;
	color: #b8b8b8;
	font-weight: 400;
	margin-top: 23px;
}

.steps_wr_form_right>a.terms>.yellow {
	color: #cea809;
	position: relative;
    left: 5px;
}

.steps_wr_form_right>p::before {
	content: '';
	position: absolute;
	top: 24px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #cea809;
}

.steps_wr_form_right>a.terms::before {
	content: none;
}

.steps_wr_form_right>a.terms .dot {
	margin: 0;
	margin-left: 0;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	border: 2px solid #cecece;
	background: transparent;
}

.steps_wr_form_right>a.terms .dot::after {
	background: #cecece;
	width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
}

.steps_wr_form_right input[type=text]::placeholder {
	font-size: 18px;
	color: #999999;
}

.steps_wr_form_right input[type=submit] {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 60px;
	background: #cea809;
	border-radius: 6px;
	font-weight: 600;
	font-size: 18px;
	color: #ffffff;
	border: none;
	cursor: pointer;
	margin-top: 40px;
}

.steps_wr_form_item4>h3 {
	margin-bottom: 20px;
}

.steps_wr_form_item4>p {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #787878;
	margin-bottom: 20px;
}


.steps_wr_form_btn {
	width: max-content;
	padding: 0 38px;
}

.steps_wr_form_content1 {
	margin-bottom: 80px;
}

.why {
	background: #f7f7f7;
	margin-top: -5px;
	padding-bottom: 50px;
}

.why_top {
	width: 100%;
}

.why_wr {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	margin-top: 50px;
}

.why_wr_item {
	width: 360px;
	background: #ffffff;
	border-radius: 12px;
	margin: 0 15px;
	margin-bottom: 30px;
	text-align: center;
}

.why_wr_item_img {
	overflow: hidden;
	width: 100%;
	height: 210px;
	margin-bottom: 30px;
}

.why_wr_item_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.why_wr_item h4 {
	font-family: 'Yeseva One', cursive;
	font-size: 24px;
	color: #383838;
	font-weight: normal;
	padding: 0 60px;
	margin-bottom: 30px;
	min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why_wr_item p {
	font-size: 18px;
	color: #787878;
	padding: 0 50px;
	padding-bottom: 40px;
	position: relative;
}

.why_wr_item p::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -23px;
    width: 46px;
    height: 6px;
    background: url(../img/wave_icon.png) no-repeat center top / cover;
}

.videos {
	padding-top: 75px;
	padding-bottom: 85px;
}

.videos_wr {
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
}

.videos_wr_item {
	width: 560px;
}

.videos_wr_item h4 {
	font-family: 'Yeseva One', cursive;
	text-align: center;
	font-size: 24px;
	color: #383838;
	font-weight: normal;
}

.videos_wr_item iframe {
	width: 100%;
	height: 310px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.videos_wr_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	margin: 0 auto;
	padding: 12px 46px;
	border: 2px solid #cea809;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	color: #000;
	background: transparent;
}

.videos_wr_btn:hover {
	background: #cea809;
	color: #fff;
}

.number {
	position: relative;
	z-index: 1;
}

.number_slider {
	margin-top: 65px;
}

.number_slider_item {
	padding-bottom: 20px;
}

.number_slider_icon {
	width: 80px;
	height: 80px;
}

.number_slider_count {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 10px;
}

.number_slider_count h3 {
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
	font-size: 36px;
	color: #383838;
}

.number_slider_count p {
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	color: #383838;
	margin-top: -2px;
	margin-left: 8px;
}	

.number_slider_text {
	position: relative;
	text-align: center;
	font-size: 15px;
	color: #787878;
	padding: 0 10px;
	min-height: 56px;
}

.number_slider_text::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -23px;
    width: 46px;
    height: 6px;
    background: url(../img/wave_icon.png) no-repeat center top / cover;
}

.owl-nav button {
	position: absolute;
	top: 50%;
	width: 22px;
	height: 41px;
	padding: 0;
	margin: 0 !important;
}

.owl-nav button span {
	display: none;
}

.owl-nav button.owl-prev {
	background: url(../img/arrow_l.png) no-repeat center top / cover !important;
	left: -35px;
}

.owl-nav button.owl-next {
	background: url(../img/arrow_r.png) no-repeat center top / cover !important;
	right: -35px;
}

.owl-dots {
	margin-top: 30px;
}

.number_slider .owl-dots .owl-dot span {
	margin: 0 2.5px;
	background: #dedede;
}

.number_slider .owl-dots .owl-dot.active span {
	background: #cea809;
}

.number_slider {
	margin-bottom: 50px;
}

.number_btn {
	width: max-content;
	padding: 15px 24px;
}

.map {
	margin-top: 60px;
	position: relative;
}

.map img {
	width: 100%;
}

.map iframe {
	width: 100%;
	height: 605px;
}

.map_img_top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.footer {
	background: #383838;
	margin-top: -5px;
}

.footer_logo {
	margin: 0 auto;
    display: block;
    width: max-content;
}

.footer_logo img {
	margin-top: -40px;
}

.footer_wr {
	display: flex;
	margin-top: 30px;
	padding-bottom: 20px;
}

.footer_wr_tel a {
	display: block;
	font-size: 16px;
    color: #fff;
	font-weight: 700;
	margin-bottom: 18px;
}

.footer_wr_tel a.footer_wr_tel_btn {
	display: flex;
	color: #fff;
	width: max-content;
    padding: 0 20px;
}

.footer_wr_tel a img {
	margin-right: 5px;
    position: relative;
    top: 3px;
}

.footer_wr_ul {
	display: flex;
	margin-left: auto;
	margin-right: 105px;
}

.footer_wr_ul ul+ul {
	margin-left: 130px;
}

.footer_wr_ul ul li a {
	font-size: 13px;
	color: #ffffff;
}

.footer_wr_text {
	width: 295px;
}

.footer_wr_text p {
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}

.footer_copy {
	background: #1e1e1e;
	padding: 15px 0 20px;
}

.footer_copy_wr {
	display: flex;
	justify-content: space-between;
}

.footer_copy_wr p {
	display: flex;
    align-items: center;
	font-size: 13px;
	color: #fff;
}

.footer_copy_wr p img {
	margin-right: 10px;
}

.hamburger, .header_nav_mb {
	display: none;
}

.steps_wr_form_content4 > .steps_wr_form_left > p {
	display: none;
}

.toTop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	z-index: 5;
}

@media (max-width: 1199px) {
	.container {
		max-width: 435px;
		width: 100%;
	}
	.header_top_wr {
		justify-content: center;
	}
	.header_top_wr_right {
		display: none;
	}
	.header_top2_address {
		display: none;
	}
	.header_top2_wr {
		justify-content: center;
	}
	.header_top2_wr .header_top2_btn {
		display: none;
	}
	.header_top_nav_wr nav {
		display: none;
	}
	.header_top_logo {
		margin: -13px auto;
		position: relative;
		z-index: 2;
	}
	.hamburger {
		padding: 0;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible; 
		margin-right: -18px;
	}
	.hamburger:hover {
		opacity: 1; 
	}
	.hamburger.is-active:hover {
		opacity: 1; 
	}
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner::before,
	.hamburger.is-active .hamburger-inner::after {
		background-color: #fff; 
	}
	.hamburger-box {
		width: 18px;
    	height: 12px;
		display: inline-block;
		position: relative; 
	}
	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px; 
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 18px;
		height: 2px;
		background-color: #fff;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease; 
	}
	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block;
	}
	.hamburger-inner::before {
		top: -5px; 
	}
	.hamburger-inner::after {
		bottom: -10px; 
	}
	.hamburger--collapse .hamburger-inner {
		top: auto;
		bottom: 0;
		transition-duration: 0.13s;
		transition-delay: 0.13s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
	}
	.hamburger--collapse .hamburger-inner::after {
		top: -10px;
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
	}
	.hamburger--collapse .hamburger-inner::before {
		transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
	} 
	.hamburger--collapse.is-active .hamburger-inner {
		transform: translate3d(0, -5px, 0) rotate(-45deg);
		transition-delay: 0.22s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
	}
	.hamburger--collapse.is-active .hamburger-inner::after {
		top: 0;
		opacity: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
	}
	.hamburger--collapse.is-active .hamburger-inner::before {
		top: 0;
		transform: rotate(-90deg);
		transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
	}
	.header_top2_tel {
		margin-right: 0;
	}
	.header_top2 {
		padding-bottom: 29px;
	}
	.header_offer {
		padding-top: 40px;
		background: url(../img/bg-first-mob.png) no-repeat center top / cover;
	}
	.header_offer_title {
		width: 100%;
		font-size: 34px;
	}
	.header_offer_btns {
		width: 100%;
		display: block;
		margin-top: 30px;
	}
	.header_offer_btns a {
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.header_offer_certificate {
		margin: 0 auto;
		text-align: center;
	}
	.header_offer_certificate img {
		max-width: 190px;
	}
	.section_title {
		font-size: 24px;
	}
	.special {
		padding-top: 15px;
		padding-bottom: 30px;
	}
	.section_subtitle {
		font-size: 18px;
	}
	.section_subtitle br {
		display: none;
	}
	.special_content {
		margin-top: 25px;
	}
	.special_content p {
		font-size: 16px;
		margin-bottom: 30px;
	}
	.advantages {
		padding-top: 70px;
	}
	.advantages_wr {
		margin: 0;
	}
	.advantages_wr_item {
		width: 100%;
		margin: 0;
		margin-bottom: 60px;
	}
	.invest {
		padding-bottom: 35px;
	}
	.invest_title {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 30px;
	}
	.invest_gen {
		width: 100%;
		margin-top: 340px;
		margin-bottom: 130px;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.invest_gen ul li {
		margin-bottom: 6px;
	}
	.invest_gen ul li span {
		display: block;
	}
	.invest_gen ul li span.seperator {
		display: none;
	}
	.infrastucture_btn {
		margin-bottom: 50px;
	}
	.infrastucture_table {
		width: 100%;
	}
	.infrastucture_table tr th {
		font-size: 14px;
		padding: 20px 0;
		width: 30%;
	}
	.infrastucture_table tr th:first-child {
		width: 40%;
	}
	.infrastucture_table tr {
		padding: 0 10px;
	}
	.infrastucture_table tr td:first-child {
		width: 40%;
		font-size: 13px;
		justify-content: flex-start;
	}
	.infrastucture_table tr td {
		width: 30%;
		font-size: 13px;
		padding: 5px 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.doma {
		padding-top: 105px;
	}
	.doma_wr_item {
		width: 100%;
	}
	.doma_wr_item_top img {
		width: 100%;
		min-height: 290px;
		object-fit: cover;
	}
	.doma_wr_item_top_text {
		display: block;
		padding: 0 20px 20px;
	}
	.doma_wr_item_top_text h3 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.doma_wr_item_top_sq {
		width: 72px;
		height: 30px;
		font-size: 16px;
    	padding: 0;
	}
	.doma_wr_item_content {
		padding: 0;
		display: block;
		margin-bottom: 40px;
	}
	.doma_wr_item_cost {
		text-align: center;
		font-size: 24px;
	}
	.doma_wr_item_wave {
		display: none;
	}
	.doma_wr_item_text {
		width: 100%;
		font-size: 18px;
		margin-top: 15px;
	}
	.doma_wr {
		padding-bottom: 30px;
		border-bottom: 1px solid #f6f6f6;
	}
	.steps {
		padding-top: 30px;
	}
	.steps_wr_nav {
		margin-bottom: 30px;
	}
	.steps_wr_nav_item {
		width: 33%;
	}
	.steps_wr_form_item h3 {
		font-size: 20px;
		margin-bottom: 25px;
	}
	.steps_wr_form_content {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.steps_wr_form_content div {
		width: 100%;
		margin-bottom: 20px;
	}
	.steps_wr_form_content div img {
		width: 130px;
		height: 130px;
		margin: 0 auto;
	}
	.steps_wr_form_content .dot {
		margin-bottom: 5px;
	}
	.steps_wr_form_content1 {
		margin-bottom: 30px;
	}
	.steps_wr_form_content1 label {
		width: 50%;
	}
	.steps_wr {
		margin-bottom: 56px;
	}
	.why_wr_item_img {
		border-radius: 12px 12px 0 0;
	}
	.why_wr_item h4 {
		padding: 0 30px;
		line-height: normal;
		min-height: auto;
		margin-bottom: 25px;
	}
	.why_wr_item {
		width: 100%;
		margin-bottom: 20px;
	}
	.why {
		padding-bottom: 40px;
	}
	.videos {
		padding-top: 50px;
		padding-bottom: 0;
	}
	.videos_wr {
		margin-top: 20px;
		display: block;
	}
	.videos_wr_item {
		width: 100%;
	}
	.videos_wr_item h4 {
		font-size: 20px;
		padding: 0 75px;
	}
	.videos_wr_item iframe {
		height: 160px;
	}
	.videos_wr_btn {
		margin-bottom: 30px;
	}
	.owl-nav button.owl-prev {
		left: 0;
	}
	.owl-nav button.owl-next {
		right: 0;
	}
	.number_slider_item {
		padding: 0 25px 20px;
	}
	.number_slider {
		margin-bottom: 45px;
	}
	.map iframe {
		height: 400px;
	}
	.footer_wr {
		flex-wrap: wrap;
		padding-bottom: 45px;
	}
	.footer_wr_tel {
		width: 100%;
		text-align: center;
	}
	.footer_wr_tel a.footer_wr_tel_btn {
		margin: 0 auto 30px;
	}
	.footer_wr_ul {
		margin: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.footer_wr_ul ul + ul {
		margin-left: 0;
	}
	.footer_wr_ul ul {
		width: 50%;
		padding: 0 20px;
	}
	.footer_wr_text {
		width: 100%;
	}
	.footer_copy_wr {
		display: block;
	}
	.footer_copy_wr p {
		justify-content: center;
	}
	.header_top_nav {
		position: relative;
	}
	.header_nav_mb {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #7b0226;
		padding-top: 35px;
		padding-bottom: 25px;
		z-index: 1;
	}
	.header_nav_mb .header_top2_btn {
		margin: 0 auto;
		color: #fff;
		margin-bottom: 7px;
	}
	.header_nav_mb ul li a {
		font-size: 18px;
		line-height: 38px;
		color: #fff;
	}
	.header_nav_mb ul li {
		text-align: center;
	}
	.steps_wr_form_content2 {
		margin: 0 -15px;
		width: auto;
	}
	.steps_wr_form_item2 .steps_wr_form_btn, .steps_wr_form_item3 .steps_wr_form_btn {
		margin-top: 25px;
	}
	.steps_wr_form_item4>p {
		display: none;
		font-size: 14px;
		line-height: 20px;
	}
	.steps_wr_form_content4 > .steps_wr_form_left > p {
		font-size: 14px;
		line-height: 20px;
		color: #787878;
		text-align: center;
		display: block;
		margin-top: 20px;
	}
	.steps_wr_form_left img {
		height: 168px !important;
		object-fit: cover;
	}
	.steps_wr_form_right {
		padding-top: 0;
	}
	.steps_wr_form_right input[type=submit] {
		margin: 0 auto;
		margin-top: 20px;
	}
	.toTop {
		bottom: 20px;
		right: 20px;
	}
	.steps_wr_form_btn {
		padding: 0 10px;
	}
	.steps_wr_form_right>a.terms .dot {
		margin-right: 5px;
	}
	.steps_wr_form_right>a.terms {
		font-size: 11px;
	}
}
